@{
    ViewData["Title"] = "Regras";
    var token = ViewBag.TokenApi;
}

<div class="text-center">
    <h1 class="display-4" style="padding-bottom: 5%">Regras</h1>
    @*<input hidden type="text" id="apitoken" value=@token.ToString() />*@

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col-4">Cursos</th>
                <th scope="col">Ativo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var regra in ViewBag.Regras)
            {
                <tr>
                    <th scope="row">@regra.Id</th>
                    <td>@regra.Nome</td>
                    <td>@regra.Descricao</td>
                    <td class="col-4">
                        @foreach( var regraCurso in ViewBag.RegrasCursos)
                        {
                            if(regra.Id == regraCurso.Key.Id)
                            {
                                foreach(var curso in regraCurso.Value)
                                {
                                    @curso.Titulo <br /><br />
                                }
                            }
                        }
                    </td>
                    <td>
                        @if (regra.IsActive)
                        {
                            <i class="fa-solid fa-circle-check" style="color: green"  title="Ativo"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark" style="color: red"  title="Inativo"></i>
                        }
                    </td>
                    <td><a href="/Regras/Edit/@regra.Id"  title="Editar"><i class="fa-solid fa-pen"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
</div>
