<fieldset>

    <h1>Criar novo usuário</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <label class="form-label" for="Nome">Nome:</label>
                <input type="text" id="Nome" name="Nome" class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <label for="Email" class="form-label">E-mail:</label>
                <input type="email" id="Email" name="Email" class="form-control" />
            </div>
        </div>
        <br />
        <button id="salvar" type="button" class="btn btn-primary">Salvar</button>
    </div>

</fieldset>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    $("#salvar").click(() => {
          $.ajax({
              type: "POST",
              url: "/Usuario/Criar",
              data: {
                        Id: 0,
                        Nome: $("#Nome").val(),
                        Email: $("#Email").val().toLowerCase(),
                        PasswordHash: 'password',
                        IsActive: false
                    },
              async: false,
              success: () => {
                  //$("#exampleModal").show();
                  OpenModal("Sucesso!", "Usuario com sucesso.")
              },
              error: (result) => {
                    OpenModal("Erro!", "Não foi possível criar o usuário.")
                }
          });
    });
    });
</script>