@{
    var regra = ViewBag.Regra;
}
<fieldset>
    <h1>Editar Regra </h1>
    <br />
    <div class="container">
        <input hidden type="text" id="Id" name="Id" value=@regra.Id />
        <label for="Nome" class="form-label">Título:</label>
        <input type="text" id="Nome" name="Nome" class="form-control" readonly value=@regra.Nome />
        <br />

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="Descricao" name="Descricao" style="height: 100px">@regra.Descricao</textarea>
            <label for="Descricao">Descricao</label>
        </div>
        <br />
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="Parametros" name="Descricao" style="height: 100px">@regra.Parametros</textarea>
            <label for="Parametros">Parametros</label>
        </div>
        <br />
        <div class="form-check form-switch">
            @Html.CheckBox("", regra.IsActive, new { @class="form-check-input", @type="checkbox" ,@id="IsActive", @name="IsActive" })
            <label class="form-check-label" for="IsActive">Ativar</label>
        </div>
        <br />
        <button id="salvar" type="button" class="btn btn-primary">Salvar</button>
    </div>

</fieldset>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){




    $("#salvar").click(() => {
          $.ajax({
              type: "POST",
              url: "/Regras/Edit",
              data: {
                        Id: $("#Id").val(),
                        Nome: $("#Nome").val(),
                        Descricao: $("#Descricao").val(),
                        Parametros: $("#Parametros").val(),
                        IsActive: $('#IsActive').is(":checked")
                    },
              async: false,
              success: () => {
                  //$("#exampleModal").show();
                  OpenModal("Sucesso!", "Regra atualizada com sucesso.")
              },
              error: (result) => {
                    OpenModal("Erro!", "Não foi possível atualizar a regra.")
                }
          });
    });
    });
</script>