@{
    var regra = ViewBag.Regra;
}
<fieldset>
    <h1>Editar Regra </h1>
    <br />
    <div class="container">
        <input hidden type="text" id="Id" name="Id" value=@regra.Id />
        <div class="row">
            <div>
                <label for="Nome" class="form-label">Título:</label>
                <input type="text" id="Nome" name="Nome" class="form-control" value="@regra.Nome.ToString()" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-floating">
                <textarea class="form-control" id="Descricao" name="Descricao" style="height: 100px">@regra.Descricao</textarea>
                <label for="Descricao">Descricao</label>
            </div>
        </div>


        <br />

        @*<div class="row">
            <div class="form-floating">
                <textarea class="form-control" id="Parametros" name="Descricao" style="height: 100px">@regra.Parametros</textarea>
                <label for="Parametros">Parametros</label>
            </div>
        </div>
        <br />*@

        <div class="row">
            <div id="cursos">
                
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <div class="form-check form-switch">
                    @Html.CheckBox("", regra.IsActive, new { @class="form-check-input", @type="checkbox" ,@id="IsActive", @name="IsActive" })
                    <label class="form-check-label" for="IsActive">ATIVAR</label>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <button id="salvar" type="button" class="btn btn-primary" style="width: 100%">Salvar</button>
            </div>
        </div>
    </div>

</fieldset>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){



    $.ajax({
        type: "GET",
        url: "/Curso/Get",
        async: false,
        success: function (response){
            var cursos = ""
            response.forEach((curso) => {
                cursos += `
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curso-${curso.id}" name="checkbox-curso" checked>
                    <label class="form-check-label" for="curso-${curso.id}">
                        ${curso.titulo}
                    </label>
                </div>
                `
            })

            $("#cursos").empty()
            $("#cursos").html(cursos)
        },
        error: (result) => {
            OpenModal("Erro!", "Falha ao buscar cursos da FACOM.")
        }
    });

    $("#salvar").click(() => {

        var cursos = []
        var elementListCursos = $('input[name="checkbox-curso"]:checked')
        var val = []
        elementListCursos.each(function() {
                    cursos.push(parseInt(this.id.split('-')[1]))
                });
        myJsonString = JSON.stringify(cursos);

          $.ajax({
              type: "POST",
              url: "/Regras/Edit",
              data: {
                        Id: $("#Id").val(),
                        Nome: $("#Nome").val(),
                        Descricao: $("#Descricao").val(),
                        Parametros: myJsonString,
                        IsActive: $('#IsActive').is(":checked")
                    },
              async: false,
              success: () => {
                  OpenModal("Sucesso!", "Regra atualizada com sucesso.")
              },
              error: (result) => {
                    OpenModal("Erro!", "Não foi possível atualizar a regra.")
                }
          });
    });
    });
</script>